<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <header>
    <h1><a href="/">404 Brain Not Found</a></h1>
    <nav>
<a href="/">Home</a> |
<a href="/about.html">About</a> |
<a href="/contact.html">Contact</a> |
<a href="/vault.html">Vault</a> |
<a href="/fragments.html">Fragments</a> |
<a href="/terminal.html">Terminal</a> |
<a href="/trace.html">Trace</a> |
<a href="/keys.html">Keys</a>
    </nav>
    <hr>
   <img src="/assets/img/bb.png" alt="Profile image" 
     style="width: 120px; height: 120px; object-fit: cover; border-radius: 50%; margin: 30px auto; border: 2px solid #00ffff; display: block;">

  </header>

<main>
  {{ content }}
</main>

<footer>
  <hr>
  <p style="font-size: 0.9em; color: #aaa;">
    🛠 Maintained by 
    <a href="https://www.linkedin.com/in/fouad-azahaf/" target="_blank" rel="noopener" style="color: #00ff99;">
      Fouad Azahaf
    </a> 
    | Student @ IFMOTICA Fès | 🇲🇦
  </p>
</footer>
</body>
</html>

